:root {
  --primary-color: #03A64A;
  --light-color: #04BF45;
  --gray-color: #D9D9D9;
  --yellow-color: #D3D932;
  --another-yellow-color: #BBBF45;
}

*{
  font-family: Arial, Helvetica, sans-serif;
}

td, th {
  border: 1px solid var(--gray-color);
  padding: 13px;
}

th {
  background-color: var(--primary-color);
  color: white;
}

td {
  text-align: center;
}

.btn-active {
  background-color: var(--primary-color);
  color: white;
  transition: .5s;
}

.btn-active:hover {
  color: var(--yellow-color);
}

.primary-btn {
  color: white;
  background-color: var(--primary-color);
  transition: .5s;
  border: 2px solid var(--primary-color);
}

.primary-btn:hover {
  color: var(--yellow-color);
}

.primary-btn-outline {
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  background-color: transparent;
  transition: .5s;
  border-radius: 50px;
  height: 20px;
  width: 20px;
}

.primary-btn-outline:hover {
  background-color: var(--primary-color);
  color: white;
}

.secondary-btn {
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  background-color: transparent;
  transition: .5s;
  border-radius: 5px;
  text-decoration: none;
}

.secondary-btn:hover {
  background-color: var(--primary-color);
  color: white;
}

input, select, textarea {
  border: 1px solid var(--gray-color);
  padding: 10px;
  border-radius: 5px;
  background-color: white;
}